.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.animationContainer {
  width: 100%;
  height: 20%;
  border-radius: 40px;
  background-color: rgb(255, 189, 89);
  display: flex;
  justify-content: center;
  align-items: center;
}

.animationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 20px;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.logoContainer {
  margin: 20px 0;
}

.logo {
  max-width: 100%;
  height: auto;
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  background-color: transparent;
  border: 2px solid rgb(255, 189, 89);
  width: 10rem;
  color: #000;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: rgb(255, 189, 89);
  color: #fff;
}